:root {
    --light-gray: #F5F3EF;
    --gray: #DCDCDC;
    --dark-gray: #646464;
    --black: #000;
    --white: #FFF;
    --yellow: #FEBD2F;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: var(--light-gray);
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 48px;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
}

.get-started-nav {
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

nav {
    display: grid;
    grid-template-columns: .5fr .5fr 3fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin: 20px 30px;
}

banner {
    margin: 50px 0px 50px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title image"
        "description image";
    column-gap: 60px;
}

.banner-image {
    width: 90%;
    grid-area: image;
}

.banner-title {
    grid-area: title;
}

.banner-description {
    grid-area: description;
}

.cooking-courses-container {
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 60px 30px;
    margin: 0px 30px;
}

.cooking-courses-item {
    background-color: white;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
}

.item-1 {
    background-color: var(--yellow);
    font-family: 'Roboto Serif', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.cooking-courses-item img {
    position: absolute;
    width: 60px;
    left: 200px;
    bottom: 230px;
}

.course-title {
    font-family: 'Roboto Serif', serif;
    font-size: 18px;
    font-weight: 700;
}

.course-description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--dark-gray);
    line-height: 25px;
}

 main button {
    background-color: white;
    border: .5px solid var(--dark-gray);
    border-radius: 20px;
    width: 100px;
    padding: 10px;
}

footer {
    background-color: var(--yellow);
    padding: 25px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

footer img {
    width: 100px;
}
